body {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid black;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  height: 80vh;
}

.clock-block {
  color: white;
  font-size: 5rem;
  font-family: monospace;
  font-weight: bolder;
  margin: 0;
}

.clock {
  border: 4px solid rgb(252, 251, 251);
  backdrop-filter: blur(10px);
  width: 80vw;
  text-align: center;
  padding: 10px;
}
